# Heading 1
## PyCity Schools Analysis
### Heading 3
---
> A Blockquote

A sentence with **bold words** and *italics*

Below is a list:
* Item 1
* Item 2

In [4]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

In [5]:
# Create a path variable to the data.
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

In [6]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [7]:
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [8]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [161]:
Local Gorvernment Area Summary

In [9]:
#Total number of unique schools
Unique_schools=school_data_complete["school_name"].nunique()
print(f"Total number of unique schools: {Unique_schools}")

Total number of unique schools: 15

In [10]:
#Total number of students
Total_students_number = len(student_data)
print(f"Total number of students: {Total_students_number}")

Total number of students: 39170

In [11]:
#Total budget
Total_budget = school_data["budget"].sum()
print(f"Total budget: {Total_budget}")

Total budget: 24649428

In [12]:
#Average maths score
Average_maths_score = student_data["maths_score"].mean()
print(f"The average maths score: {Average_maths_score}")

The average maths score: 70.33819249425581

In [13]:
#Average reading score
Average_reading_score = student_data["reading_score"].mean()
print(f"The average reading score: {Average_reading_score}")

The average reading score: 69.98013786060761

In [14]:
#% passing maths (the percentage of students who passed maths)
Num_passing_maths = school_data_complete[(school_data_complete["maths_score"]>=50)].count()["student_name"]
Percentage_passing_maths = Num_passing_maths/(Total_students_number)*100
print(f"The percentage of students who passed maths: {Percentage_passing_maths}")

The percentage of students who passed maths: 86.07863160582077

In [15]:
#% passing reading (the percentage of students who passed reading)
Num_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=50)].count()["student_name"]
Percentage_passing_reading = Num_passing_reading/(Total_students_number)*100
print(f"The percentage of students who passed reading: {Percentage_passing_reading}")

The percentage of students who passed reading: 84.42685728874139

In [16]:
#% overall passing (the percentage of students who passed maths AND reading
Num_passing_maths_reading = school_data_complete[(school_data_complete["maths_score"]>=50) & (school_data_complete["reading_score"]>=50)].count()["student_name"]
#print(Num_passing_maths_reading)
Percentage_passing_maths_reading = Num_passing_maths_reading/(Total_students_number)*100
print(Percentage_passing_maths_reading)

72.80827163645647

In [17]:
area_summary = pd.DataFrame(
    {"Total Schools": [Unique_schools],
     "Total Students": [Total_students_number],
     "Total Budget": [Total_budget],
     "Average Maths Score": [Average_maths_score],
     "Average Reading Score": [Average_reading_score],
     "% Passing Maths": [Percentage_passing_maths],
     "% Passing Reading":[Percentage_passing_reading],
     "% Overall Passing":[Percentage_passing_maths_reading]
     }
)

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
School Summary

In [165]:
# Using code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [166]:
#Calculate the total student count per school from school_data
per_school_counts = school_data_complete.groupby("school_name").size()
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [167]:
# Calculate the total school budget and per capita spending per school from school_data
#per_school_budget = school_data [
per_school_budget = school_data[["school_name","budget", "size"]].sort_values(by=['school_name'])
#print(per_school_budget)

#per_school_capita
#Make a new dataframe while keeping titles, then add column
per_school_capita = per_school_budget.loc[:, ["school_name","budget","size"]].sort_values(by=['school_name'])
per_school_capita["Per Student Budget"] = per_school_budget["budget"]/ per_school_budget["size"]
per_school_capita

              school_name   budget  size  Per Student Budget
7      Bailey High School  3124928  4976               628.0
6     Cabrera High School  1081356  1858               582.0
1    Figueroa High School  1884411  2949               639.0
13       Ford High School  1763916  2739               644.0
4     Griffin High School   917500  1468               625.0
3   Hernandez High School  3022020  4635               652.0
8      Holden High School   248087   427               581.0
0       Huang High School  1910635  2917               655.0
12    Johnson High School  3094650  4761               650.0
9        Pena High School   585858   962               609.0
11  Rodriguez High School  2547363  3999               637.0
2     Shelton High School  1056600  1761               600.0
14     Thomas High School  1043130  1635               638.0
5      Wilson High School  1319574  2283               578.0
10     Wright High School  1049400  1800               583.0

In [174]:
# Calculate the average test scores per school from school_data_complete
per_school_maths["Average Maths Score"] = school_data_complete.groupby(["school_name"])[["maths_score"]].mean()
per_school_maths

                       Average Maths Score
school_name
Bailey High School               72.352894
Cabrera High School              71.657158
Figueroa High School             68.698542
Ford High School                 69.091274
Griffin High School              71.788147
Hernandez High School            68.874865
Holden High School               72.583138
Huang High School                68.935207
Johnson High School              68.843100
Pena High School                 72.088358
Rodriguez High School            72.047762
Shelton High School              72.034072
Thomas High School               69.581651
Wilson High School               69.170828
Wright High School               72.047222

In [177]:
# Calculate the average test scores per school from school_data_complete
per_school_reading["Average Reading Score"] = school_data_complete.groupby(["school_name"])[["reading_score"]].mean()
per_school_reading

                       Average Reading Score
school_name
Bailey High School                 71.008842
Cabrera High School                71.359526
Figueroa High School               69.077993
Ford High School                   69.572472
Griffin High School                71.245232
Hernandez High School              69.186408
Holden High School                 71.660422
Huang High School                  68.910525
Johnson High School                69.039277
Pena High School                   71.613306
Rodriguez High School              70.935984
Shelton High School                70.257808
Thomas High School                 69.768807
Wilson High School                 68.876916
Wright High School                 70.969444

In [97]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = school_data_complete.loc[(school_data_complete["maths_score"]>=50), :]
school_passing_maths

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39164,39164,Joseph Anthony,M,9,Thomas High School,97,79,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [96]:
school_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"]>=50), :]
school_passing_reading

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39164,39164,Joseph Anthony,M,9,Thomas High School,97,79,14,Independent,1635,1043130
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130

In [178]:
# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete.loc[(school_data_complete["reading_score"]>=50) & (school_data_complete["maths_score"]>=50), :]
passing_maths_and_reading

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635
6,6,Sheena Carter,F,11,Huang High School,73,60,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11,Thomas High School,79,86,14,Independent,1635,1043130
39164,39164,Joseph Anthony,M,9,Thomas High School,97,79,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130

In [158]:
#  Calculate the Percentage Pass Rates
per_school_passing_maths = school_passing_maths.groupby(["school_name"]).agg(student_count_passing=('student_name', 'count'), total_students=('size', 'first'))
per_school_passing_maths["% Passing Maths"] = (per_school_passing_maths["student_count_passing"] / per_school_passing_maths["total_students"])*100
per_school_passing_maths

,school_type,student_count_passing,total_students,% Passing Maths
school_name,,,,
Bailey High School,Government,4560,4976,91.639871
Cabrera High School,Independent,1688,1858,90.850377
Figueroa High School,Government,2408,2949,81.654798
Ford High School,Government,2258,2739,82.438846
Griffin High School,Independent,1339,1468,91.212534
Hernandez High School,Government,3752,4635,80.949299
Holden High School,Independent,384,427,89.929742
Huang High School,Government,2383,2917,81.693521
Johnson High School,Government,3907,4761,82.062592
Pena High School,Independent,882,962,91.683992
Rodriguez High School,Government,3631,3999,90.797699
Shelton High School,Independent,1612,1761,91.538898
Thomas High School,Independent,1371,1635,83.853211
Wilson High School,Independent,1890,2283,82.785808
Wright High School,Independent,1652,1800,91.777778

In [137]:
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).agg(student_count_passing=('student_name', 'count'), total_students=('size', 'first'))
per_school_passing_reading["% Passing Reading"] = (per_school_passing_reading["student_count_passing"] / per_school_passing_reading["total_students"])*100
per_school_passing_reading

,student_count_passing,total_students,% Passing Reading
school_name,,,
Bailey High School,4348,4976,87.379421
Cabrera High School,1655,1858,89.074273
Figueroa High School,2442,2949,82.807731
Ford High School,2252,2739,82.219788
Griffin High School,1299,1468,88.487738
Hernandez High School,3795,4635,81.877023
Holden High School,378,427,88.524590
Huang High School,2376,2917,81.453548
Johnson High School,3903,4761,81.978576
Pena High School,833,962,86.590437
Rodriguez High School,3495,3999,87.396849
Shelton High School,1527,1761,86.712095
Thomas High School,1351,1635,82.629969
Wilson High School,1856,2283,81.296540
Wright High School,1560,1800,86.666667

In [187]:
overall_passing_rate = passing_maths_and_reading.groupby(["school_name"]).agg(school_type=('type', 'first'),student_count_passing=('student_name', 'count'), total_students=('size', 'first'))
overall_passing_rate["% Overall Passing"] = (overall_passing_rate["student_count_passing"] / overall_passing_rate["total_students"])*100
overall_passing_rate

,school_type,student_count_passing,total_students,% Overall Passing
school_name,,,,
Bailey High School,Government,3985,4976,80.084405
Cabrera High School,Independent,1501,1858,80.785791
Figueroa High School,Government,1995,2949,67.650051
Ford High School,Government,1848,2739,67.469880
Griffin High School,Independent,1194,1468,81.335150
Hernandez High School,Government,3076,4635,66.364617
Holden High School,Independent,337,427,78.922717
Huang High School,Government,1946,2917,66.712376
Johnson High School,Government,3199,4761,67.191766
Pena High School,Independent,762,962,79.209979
Rodriguez High School,Government,3176,3999,79.419855
Shelton High School,Independent,1389,1761,78.875639
Thomas High School,Independent,1136,1635,69.480122
Wilson High School,Independent,1540,2283,67.455103
Wright High School,Independent,1435,1800,79.722222

In [189]:
per_school_summary = pd.merge(per_school_capita, per_school_maths, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_reading, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_passing_maths, on="school_name")
per_school_summary = pd.merge(per_school_summary, per_school_passing_reading, on="school_name")
per_school_summary = pd.merge(per_school_summary, overall_passing_rate, on="school_name")

per_school_summary

,school_name,budget,size,Per Student Budget,Average Maths Score,Average Reading Score,school_type_x,student_count_passing_x,total_students_x,% Passing Maths,student_count_passing_y,total_students_y,% Passing Reading,school_type_y,student_count_passing,total_students,% Overall Passing
0,Bailey High School,3124928,4976,628.0,72.352894,71.008842,Government,4560,4976,91.639871,4348,4976,87.379421,Government,3985,4976,80.084405
1,Cabrera High School,1081356,1858,582.0,71.657158,71.359526,Independent,1688,1858,90.850377,1655,1858,89.074273,Independent,1501,1858,80.785791
2,Figueroa High School,1884411,2949,639.0,68.698542,69.077993,Government,2408,2949,81.654798,2442,2949,82.807731,Government,1995,2949,67.650051
3,Ford High School,1763916,2739,644.0,69.091274,69.572472,Government,2258,2739,82.438846,2252,2739,82.219788,Government,1848,2739,67.469880
4,Griffin High School,917500,1468,625.0,71.788147,71.245232,Independent,1339,1468,91.212534,1299,1468,88.487738,Independent,1194,1468,81.335150
5,Hernandez High School,3022020,4635,652.0,68.874865,69.186408,Government,3752,4635,80.949299,3795,4635,81.877023,Government,3076,4635,66.364617
6,Holden High School,248087,427,581.0,72.583138,71.660422,Independent,384,427,89.929742,378,427,88.524590,Independent,337,427,78.922717
7,Huang High School,1910635,2917,655.0,68.935207,68.910525,Government,2383,2917,81.693521,2376,2917,81.453548,Government,1946,2917,66.712376
8,Johnson High School,3094650,4761,650.0,68.843100,69.039277,Government,3907,4761,82.062592,3903,4761,81.978576,Government,3199,4761,67.191766
9,Pena High School,585858,962,609.0,72.088358,71.613306,Independent,882,962,91.683992,833,962,86.590437,Independent,762,962,79.209979
10,Rodriguez High School,2547363,3999,637.0,72.047762,70.935984,Government,3631,3999,90.797699,3495,3999,87.396849,Government,3176,3999,79.419855
11,Shelton High School,1056600,1761,600.0,72.034072,70.257808,Independent,1612,1761,91.538898,1527,1761,86.712095,Independent,1389,1761,78.875639
12,Thomas High School,1043130,1635,638.0,69.581651,69.768807,Independent,1371,1635,83.853211,1351,1635,82.629969,Independent,1136,1635,69.480122
13,Wilson High School,1319574,2283,578.0,69.170828,68.876916,Independent,1890,2283,82.785808,1856,2283,81.296540,Independent,1540,2283,67.455103
14,Wright High School,1049400,1800,583.0,72.047222,70.969444,Independent,1652,1800,91.777778,1560,1800,86.666667,Independent,1435,1800,79.722222