# Heading 1
## PyCity Schools Analysis
### Heading 3
---
> A Blockquote

A sentence with **bold words** and *italics*

Below is a list:
* Item 1
* Item 2

In [129]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

In [130]:
# Create a path variable to the data.
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

In [131]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
school_data.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [132]:
student_data = pd.read_csv(student_data_to_load)
student_data.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [133]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [161]:
Local Gorvernment Area Summary

In [134]:
#Total number of unique schools
Unique_schools=school_data_complete["school_name"].nunique()
print(f"Total number of unique schools: {Unique_schools}")

Total number of unique schools: 15

In [135]:
#Total number of students
Total_students_number = len(student_data)
print(f"Total number of students: {Total_students_number}")

Total number of students: 39170

In [174]:
#Total budget
Total_budget = school_data["budget"].sum()
print(f"Total budget: {Total_budget}")

Total budget: 24649428

In [137]:
#Average maths score
Average_maths_score = student_data["maths_score"].mean()
print(f"The average maths score: {Average_maths_score}")

The average maths score: 70.33819249425581

In [138]:
#Average reading score
Average_reading_score = student_data["reading_score"].mean()
print(f"The average reading score: {Average_reading_score}")

The average reading score: 69.98013786060761

In [152]:
#% passing maths (the percentage of students who passed maths)
Num_passing_maths = school_data_complete[(school_data_complete["maths_score"]>=50)].count()["student_name"]
Percentage_passing_maths = Num_passing_maths/(Total_students_number)*100
print(f"The percentage of students who passed maths: {Percentage_passing_maths}")

The percentage of students who passed maths: 86.07863160582077

In [153]:
#% passing reading (the percentage of students who passed reading)
Num_passing_reading = school_data_complete[(school_data_complete["reading_score"]>=50)].count()["student_name"]
Percentage_passing_reading = Num_passing_reading/(Total_students_number)*100
print(f"The percentage of students who passed reading: {Percentage_passing_reading}")

The percentage of students who passed reading: 84.42685728874139

In [141]:
#% overall passing (the percentage of students who passed maths AND reading
Num_passing_maths_reading = school_data_complete[(school_data_complete["maths_score"]>=50) & (school_data_complete["reading_score"]>=50)].count()["student_name"]
#print(Num_passing_maths_reading)
Percentage_passing_maths_reading = Num_passing_maths_reading/(Total_students_number)*100
print(Percentage_passing_maths_reading)

72.80827163645647

In [154]:
area_summary = pd.DataFrame(
    {"Total Schools": [Unique_schools],
     "Total Students": [Total_students_number],
     "Total Budget": [Total_budget],
     "Average Maths Score": [Average_maths_score],
     "Average Reading Score": [Average_reading_score],
     "% Passing Maths": [Percentage_passing_maths],
     "% Passing Reading":[Percentage_passing_reading],
     "% Overall Passing":[Percentage_passing_maths_reading]
     }
)

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
School Summary

In [217]:
# Using code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [218]:
#Calculate the total student count per school from school_data
per_school_counts = school_data_complete.groupby("school_name").size()
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [240]:
# Calculate the total school budget and per capita spending per school from school_data
#per_school_budget = school_data [
per_school_budget = school_data[["school_name","budget", "size"]]
#print(per_school_budget)

#per_school_capita 
per_school_capita = per_school_budget["budget"] / per_school_budget["size"]
per_school_capita

#merged_df = pd.merge(per_school_budget, per_school_capita, on='school_name')
#merged_df

0     655.0
1     639.0
2     600.0
3     652.0
4     625.0
5     578.0
6     582.0
7     628.0
8     581.0
9     609.0
10    583.0
11    637.0
12    650.0
13    644.0
14    638.0
dtype: float64